[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
gunicorn = "*"
pandas = "*"
requests = "*"
matplotlib = "*"
dash = "*"
plotly = "*"
urllib3 = "*"
schedule = "*"
googletrans = "*"

[requires]
python_version = "3.7"
