[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
gunicorn = "*"
pandas = "*"
requests = "*"
matplotlib = "*"
numpy= "==1.19.3"
dash = "*"
plotly = "*"
urllib3 = "*"
schedule = "*"
pygoogletranslation = "==2.0.4"

[requires]
python_version = "3.7"
