.js-plotly-plot .plotly .modebar {
  padding-top: 5%;
  margin-right: 3.5%;
}

body {
  background-color: #f2f2f2;
  margin: 5%;
}

.two.columns {
  width: 16.25%;
}

.column,
.columns {
  margin-left: 0.5%;
}

.pretty_container {
  border-radius: 5px;
  background-color: #f9f9f9;
  margin: 10px;
  padding: 15px;
  position: relative;
  box-shadow: 2px 2px 2px lightgrey;
}

.ghosty_container {
  margin-bottom: 10px;
  position: relative;
}

.bare_container {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.dcc_dropdown_data_selected {
  width: 100%;
  margin-left: 12px;
  margin-right:auto;
  display:block;
  height: 100%;
  text-transform: none;
  margin-top: 30px;
}

.label_data_selection {
  margin: 0;
  padding: 10px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  width: calc(100%-40px);
  float: left;
}

.dcc_control {
  margin: 0;
  padding: 5px;
  width: calc(100%-40px);
}

.control_label {
  margin: 0;
  padding: 10px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  width: calc(100%-40px);
}

.rc-slider {
  margin-left: 0px;
  padding-left: 0px;
}

.flex-display {
  display: flex;
}

.justy-display {
  justify-content: center;
}


.container-display {
  display: flex;
}

#individual_graph,
#aggregate_graph {
  width: calc(100% - 30px);
  position: absolute;
}

#count_graph {
  position: absolute;
  height: calc(100% - 30px);
  width: calc(100% - 30px);
}

#countGraphContainer {
  flex: 5;
  position: relative;
}

#header {
  align-items: center;
}


#learn-more-button {
  text-align: center;
  height: 100%;
  padding: 0 20px;
  text-transform: none;
  font-size: 15px;
  float: right;
  margin-right: 10px;
  margin-top: 30px;
}

#title {
  text-align: center;
}

#version_text {
    text-align: center;
    margin-top: 10px;
    font-size: 15px;
}

#last_check_update_text {
    text-align: center;
    margin-top: 10px;
    font-size: 12px;
}

.title {
  text-align: center;
}

.sub_title {
  text-align: center;
  font-size: 15px;
}

.title-email {
  text-align: center;
  font-size: 90%;
}

.title-name {
  text-align: center;
  font-weight: bold;
}

.td-style {
    text-align: center;
    vertical-align: middle;
}

table.center {
    width: 100%;
    height: auto;
    text-align: center;
    vertical-align: middle;
}

.responsive {
  width: 100%;
  height: auto;
}

.credits_icon {
  height: 60px;
  width: auto;
  float: center;
}

.mini_container {
  flex: 1;
  border-radius: 5px;
  background-color: #f9f9f9;
  margin: 5px;
  padding: 10px;
  position: relative;
  box-shadow: 2px 2px 2px lightgrey;
}

.mini_container_mean_max {
  border-radius: 5px;
  background-color: #f9f9f9;
  text-align: center;
  margin: 5px;
  padding: 10px;
  position: relative;
  box-shadow: 2px 2px 2px lightgrey;
}

#right-column {
  display: flex;
  flex-direction: column;
}

#aggregate_data {
  align-items: center;
}

#tripleContainer {
  display: flex;
  flex: 3;
}

#mainContainer {
  display: flex;
  flex-direction: column;
}

#pie_graph > div > div > svg:nth-child(3) > g.infolayer > g.legend {
  pointer-events: all;
  transform: translate(30px, 349px);
}

#dropdown_language_selected {
  width: 30%;
  margin-right: 12px;
  margin-left:auto;
  display:block;
  height: 100%;
  text-transform: none;
  margin-top: 30px;
}

